.y-axis-data-label {
  line-height: 40px;
  transform: translateX(-100%);
  margin-left: -5%;
  float: left;
  font-weight: 600; }

.y-axis-label {
  position: absolute;
  transform: rotate(270deg);
  top: 50%;
  font-size: 1.3rem;
  left: -3rem;
  color: #4ECDC3; }
